#HPContainer, #LevelContainer, #XPContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    flex-direction: row;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

#HPContainer {
    top: 20px;
}

#LevelContainer {
    top: 80px;
}

#XPContainer {
    top: 140px;
}

#HPLabel, #HPValue, #LevelLabel, #LevelValue, #XPLabel, #XPValue {
    font-size: 24px;
    color: yellow;
    margin: 0 5px;
}
